/* Variables */
:root {
  --prm-blue: hsl(223, 87%, 63%);
  --sec-pale-blue: hsl(223, 100%, 88%);
  --sec-light-red: hsl(354, 100%, 66%);
  --neutral-gray: hsl(0, 0%, 59%);
  --border-gray: hsl(0, 0%, 90%);
  --very-dark-blue: hsl(209, 33%, 12%);
  --body-font: 'Libre Franklin', sans-serif;
}

/* Reset */
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Main Styles */
body {
  min-width: 25.875rem;
  margin: 5.3125rem auto;
  padding: 0;
  line-height: 1.3;
  font-size: 1.25rem;
  font-family: var(--body-font);
  color: var(--prm-blue);
}

.main {
    text-align: center;
}

/* Header Section */

.header {
    margin-bottom: 2.5rem;
}

h1 {
    color: var(--very-dark-blue);
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

h2 {
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--neutral-gray);
    opacity: 0.75;
}

h2 .soon {
    font-weight: 700;
    color: var(--very-dark-blue);
}

h1 span {
    color: var(--prm-blue);
}

.header p {
    color: var(--very-dark-blue);
    font-weight: 300;
    font-size: 0.95rem;
}

@media (min-width: 43.75rem) {
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 3rem;
    }
    .header p {
        font-size: 1.5rem;
        opacity: 0.6;
    }
}


/* Form Section */
.form {
    display: inline-block;
    margin-bottom: 3.5rem;
}

.form__email {
    width: 21.875rem;
    border-style: solid;
    border-width: 1px;
    border-color:var(--sec-pale-blue);
    border-radius: 1.25rem;
    padding: 10px 0px 10px 2rem;
    
    opacity: 0.4;
}

.form__button {
    width: 21.875rem;
    display: block;
    background-color: var(--prm-blue);
    color: hsl(0, 0%, 100%);
    border-style: none;
    border-radius: 1.25rem;
    padding: 0.625rem;
    font-size: 1rem;
    font-weight: 300;
}

.form__button:hover {
    opacity: 0.9;
} 

.form-control small {
    display: block;
    font-size: 0.6rem;
    font-style: italic;
    color: var(--sec-light-red);
    bottom: 0;
    left: 0;
    margin-top: 0.25rem;
    margin-bottom: 1.5rem;
    opacity: 0.8;
    visibility: hidden;
    
}

/* If .form-control has error class atached */
.form-control.error input {
    border-color: var(--sec-light-red) ;
}

.form-control.error small {
    visibility: visible;
}

input:focus {
    outline: none;
}


@media (min-width: 43.75rem) {
    .form {
        display: flex;
        justify-content: center;
    }

    .form__email {
        width: 23.125rem;
        height:3.5rem;
        font-size: 1rem;
        border-radius: 2.5rem;
    }

    .form__button {
        width: 12.68rem;
        height:3.5rem;
        font-size: 1rem;
        border-radius: 2.5rem;
        margin-left: 0.5rem;
        padding: 0.35rem;
    }
   }

/* dashboard Image Section */
.dashboard {
    margin-bottom: 7.5rem;
}

.dashboard__image {
    width: 20rem;
}

@media (min-width: 43.75rem) {
    .dashboard__image {
    width: 50%;
    max-width: 40rem;
    }
}


/* Social Icons Section */
.social__images-container   {
    display: flex;
    justify-content: center;
}

.social__image-container {
    border: 1px solid var(--border-gray);
    width:  2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 0 12px;
    margin-bottom: 1.5rem;
}

.social__image-container:hover{
    background-color: var(--prm-blue);
}

/* Select the child items on hover too */
.social__image-container:hover .social__social-image {
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(258deg) brightness(114%) contrast(100%);
}


.social__social-image {
    filter: invert(50%) sepia(84%) saturate(3278%) hue-rotate(206deg) brightness(97%) contrast(96%);
    vertical-align: middle;
    width: 60%;
    height: 60%;
    margin: 0 auto;
}

.copyright {
    width: 100%;

}

.copyright p {
    color: var(--neutral-gray);
    font-size: 0.75rem;
    opacity: 0.5;
}